.fonctionnement {
    background-color: $white;
  }
  
  .fonctionnement h3 {
    font-size: 24px;
    margin: 48px 80px 0 20px;
  }
  
  .fonctionnement ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  .fonctionnement div {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    transform: translate(290%, 0);
  }
  
  .fonctionnement button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 250px;
    border-radius: 20px;
    border: transparent;
    margin-bottom: 24px;
    background: $grey3;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  
  .fonctionnement button a {
    text-decoration: none;
    color: $black;
  }

  .numero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: $white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
  
  .fa-mobile-screen-button {
    margin-right: 27px;
    color: $grey4;
  }
  
  .fa-list-ul {
    margin-right: 28px;
    color: $grey4;
  }
  
  .fa-store {
    margin-right: 27px;
    color: $grey4;
  }