.footer {
  display: flex;
  padding: 22px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: $grey2;
}

.footer h5 {
  font-size: 18px;
}

.logo {
  font-family: "Shrikhand", serif;
  color: $white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.fa-utensils {
  width: 11px;
  height: 13px;
  color: $white;
  padding-right: 7px;
}

.fa-handshake-angle {
  width: 11px;
  height: 13px;
  color: $white;
  padding-right: 7px;
}

a {
  color: $white;
  text-decoration: none;
}
